* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  width: 80%;
  margin: 1rem auto;
}
a {
  text-decoration: none;
  color: #ff0a54;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../img/bg3.jpg'); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../img/bg3.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header h1 {
  color: #ffffff;
  font-size: 3rem;
}
header p {
  color: #00704a;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.9rem;
}
.top-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}
body > div {
  margin: 20px 0;
}
h2 {
  margin: 10px 0;
  color: #0d47a1;
}
h4 {
  margin: 10px 0;
}
.top-title {
  color: #ff0a54;
}
